@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  text-align: center;
  font-family: Inter;
}

h2 {
  font-weight: 500px;
  font-size: 24px;
}

h1 {
  font-size: 80px;
  padding: 0px;
}

.header {
  margin-top: 104px;
}

.THANOS {
  background-color: rgb(124, 0, 196);
  font-weight: bolder;
  letter-spacing: -6.7px;
  padding: 0 16px;
}

.JS {
  border-top: 8px solid rgb(173, 33, 255);
  border-bottom: 8px solid rgb(173, 33, 255);
  color: rgb(173, 33, 255);
  font-weight: bold;
}

h3 {
  font-weight: 300px;
  font-size: 24px;
}

code {
  display: block;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  width: 100%;
  padding: 16px 24px;
  background: rgba(44, 37, 44, 0.8);
  border: 1px solid #7f797f;
  border-radius: 8px;
  margin-bottom: 16px;
}

.container {
  position: relative;
  z-index: 2;
  padding: 104px 0 24px 0;
  width: 95%;
  max-width: 600px;
  margin: auto;
}

img {
    height: 104px;
    padding-top: 200px;
}
